<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<!-- <head th:replace="common/header :: common_header(~{::title},~{::link})"> -->
<head th:replace="common/header :: common_header(~{::title})">
	<!-- <meta charset="utf-8"> -->
	<title>テスト一覧</title>
</head>

<body>
	<!-- メインコンテンツ開始 -->
	<div class="container-fluid">
		<div class="row">

			<!-- ヘッダー メニューバー開始 -->
			<div th:replace="common/headandmenu :: headandmenu"></div>
			<!-- メニューバー終了 -->

			<!-- コンテンツ開始 -->
			<div class="col-sm-10 ml-auto">
				<!-- 見出し -->
				<h3 class="page-title cl-page-title">入社前課題テスト一覧</h3>

				<div class="px-4">
					<!-- カテゴリー検索 -->
					<nav class="mb-3 navbar navbar-expand-lg navbar-light category-bar">
						<ul class="navbar-nav mr-auto">
							<li>状態：</li>
							<li class="nav-item"><a th:href="@{/user__${userId}__/}">すべて</a> ｜</li>
							<li class="nav-item"><a th:href="@{/user__${userId}__/status_id0/}">未解答</a> ｜</li>
							<li class="nav-item"><a th:href="@{/user__${userId}__/status_id2/}">解答済</a> ｜</li>
							<li class="nav-item"><a th:href="@{/user__${userId}__/status_id3/}">再提出</a> ｜</li>
							<li class="nav-item"><a th:href="@{/user__${userId}__/status_id1/}">完了</a></li>
						</ul>
					</nav>

					<!-- ページネーション -->
					<nav aria-label="Page navigation example">
						<ul class="pagination">
							<li class="page-item">
								<a class="page-link" th:href="'page'+${value.getNumber()-1}" aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
									<span class="sr-only">Prev</span>
								</a>
							</li>
							<div th:each="i : ${#numbers.sequence(0, value.getTotalPages()-1)}">
								<li th:unless="${i<0}" class="page-item">
									<a class="page-link" th:text="${i+1}" th:href="'page'+${i+1}"></a>
								</li>
							</div>
							<li class="page-item">
								<a class="page-link" th:href="'page'+${value.getNumber()+1}" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
									<span class="sr-only">Next</span>
								</a>
							</li>
						</ul>
					</nav>

					<!-- 課題解答一覧テーブル -->
					<table class="table table-bordered table-striped" border="1">
						<thead class="thead-dark">
							<tr>
								<th class="t-column-15 align-middle">カテゴリー</th>
								<th class="t-column-auto align-middle">タイトル</th>
								<th class="t-column-15 align-middle">状態</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="article : ${value}">
								<td class="align-middle">
									<p class="align-middle m-0 text-center cl-category mx-2 py-2" th:text="${article.test.category.name}"></p>
								</td>
								<td class="align-middle">
									<a th:href="'/article'+${__${article.id}__}" th:text="${article.test.name}"></a>
								</td>
								<!-- 								<td class="align-middle"><p class="align-middle m-0 text-center" th:if=" ${article.status_id==0} ? 未完了 :　完了  "></p></td> 三項演算子だとエラー-->
								<td class="align-middle">
									<p class="align-middle m-0 text-center cl-status mx-2 py-2" th:if=" ${article.statusId==0} ">未解答</p>
									<p class="align-middle m-0 text-center cl-status mx-2 py-2" th:if=" ${article.statusId==1} ">完了</p>
									<p class="align-middle m-0 text-center cl-status mx-2 py-2" th:if=" ${article.statusId==2} ">解答済</p>
									<p class="align-middle m-0 text-center cl-status mx-2 py-2" th:if=" ${article.statusId==3} ">再提出</p>
								</td>
							</tr>
						</tbody>
					</table>

					<!-- ページネーション -->
					<nav aria-label="Page navigation example">
						<ul class="pagination">
							<li class="page-item">
								<a class="page-link" th:href="'page'+${value.getNumber()-1}" aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
									<span class="sr-only">Prev</span>
								</a>
							</li>
							<div th:each="i : ${#numbers.sequence(0, value.getTotalPages()-1)}">
								<li th:unless="${i<0}" class="page-item">
									<a class="page-link" th:text="${i+1}" th:href="'page'+${i+1}"></a>
								</li>
							</div>
							<li class="page-item">
								<a class="page-link" th:href="'page'+${value.getNumber()+1}" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
									<span class="sr-only">Next</span>
								</a>
							</li>
						</ul>
					</nav>

				</div>
			</div>
			<!-- コンテンツ終了 -->
		</div>
		<!-- row -->

		<!-- フッター -->
		<div th:replace="common/footer :: common_footer"></div>
		<!-- フッター終了 -->
	</div>
	<!-- メインコンテンツ終了 -->
	<script src="/js/list.js" th:src="@{/js/list.js}"></script>
</body>
</html>
