<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header :: common_header(~{::title})">
	<!-- <meta charset="utf-8"> -->
	<title>問題一覧</title>
</head>

<body>
	<!-- メインコンテンツ開始 -->
	<div class="container-fluid">
		<div class="row">

			<!-- ヘッダー メニューバー開始 -->
			<div th:replace="common/headandmenu :: headandmenu"></div>
			<!-- メニューバー終了 -->

			<!-- コンテンツ開始 -->
			<div class="col-sm-10 ml-auto">
				<!-- 見出し -->
				<h3 class="page-title cl-page-title">問題一覧</h3>

				<div class="px-4">
					<!-- カテゴリー検索 -->
					<nav class="mb-3 navbar navbar-expand-lg navbar-light category-bar">
						<ul class="navbar-nav mr-auto">
							<li class="">
								カテゴリー：
							</li>
							<li class="nav-item">
								<a href="/">すべて</a> ｜
							</li>
							<li class="nav-item">
								<a th:href="category_id1">Java</a> ｜
							</li>
							<li class="nav-item">
								<a th:href="category_id3">Javascript</a> ｜

							</li>
							<li class="nav-item">
								<a th:href="category_id2">SQL</a> ｜
							</li>
							<li class="nav-item">
								<a href="#">その他</a>
							</li>
						</ul>
					</nav>

					<!-- ページネーション -->
					<nav aria-label="Page navigation example">
						<ul class="pagination">
							<li class="page-item">
								<a class="page-link" th:href="'page'+${value.getNumber()-1}" aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
									<span class="sr-only">Prev</span>
								</a>
							</li>
							<div th:each="i : ${#numbers.sequence(1, value.getTotalPages())}">
								<li class="page-item"><a class="page-link" th:text="${i}" th:href="'page'+${i-1}"></a></li>
							</div>
							<li class="page-item">
								<a class="page-link" th:href="'page'+${value.getNumber()+1}" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
									<span class="sr-only">Next</span>
								</a>
							</li>
						</ul>
					</nav>

					<!-- 問題一覧テーブル -->
					<table class="table table-bordered table-striped" border="1">
						<thead class="thead-dark">
							<tr>
								<th class="t-column-15 align-middle">カテゴリー</th>
								<th class="t-column-15 align-middle">キー</th>
								<th class="t-column-auto align-middle">タイトル</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="test : ${value}">
								<td class="align-middle"><p class="align-middle m-0 text-center cl-category mx-2 py-2" th:text="${test.category.name}"></p></td>
								<td class="align-middle"><p class="align-middle m-0 text-center" th:text="${test.id}"></p></td>
								<td class="align-middle"><a th:href="${test.id}" th:text="${test.name}"></a></td>
							</tr>
						</tbody>
					</table>

					<!-- ページネーション -->
					<nav aria-label="Page navigation example">
						<ul class="pagination">
							<li class="page-item">
								<a class="page-link" th:href="'page'+${value.getNumber()-1}" aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
									<span class="sr-only">Prev</span>
								</a>
							</li>
							<div th:each="i : ${#numbers.sequence(1, value.getTotalPages())}">
								<li class="page-item"><a class="page-link" th:text="${i}" th:href="'page'+${i-1}"></a></li>
							</div>
							<li class="page-item">
								<a class="page-link" th:href="'page'+${value.getNumber()+1}" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
									<span class="sr-only">Next</span>
								</a>
							</li>
						</ul>
					</nav>

				</div>
			</div>
			<!-- コンテンツ終了 -->
		</div>	<!-- row -->

		<!-- フッター -->
		<div th:replace="common/footer :: common_footer"></div>
		<!-- フッター終了 -->
	</div>
	<!-- メインコンテンツ終了 -->
	<script src="/js/list.js" th:src="@{/js/list.js}"></script>
</body>
</html>
