/* メニューバー */
.cl-menubar {
  color: #eee;
  background-color: #286bcc;
}

/* 見出し */
.cl-page-title {
  color: #eee;
  background: #2f5893;
}

.cl-test-title {
  color: #eee;
  background: #7096cc;
}

/* フッター */
.cl-footer {
  background: #286bcc;
}
